<RunManager>
    <Calculo>
        <SystemName>tBN80-tricloro</SystemName>
        <SystemLabel>tBN80-tricloro-7</SystemLabel>
    </Calculo>
    <Diretorios>
        <Atual>---</Atual>
        <Proximo>---</Proximo>
    </Diretorios>
    <Backups>
        <MaximoBackups>5</MaximoBackups>
    </Backups>
</RunManager>

